data_june14/openings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="opening-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="RequestID"></xs:element>
              <xs:element type="xs:string" name="ClientKey"></xs:element>
              <xs:element type="xs:string" name="ProjectKey"></xs:element>
              <xs:element type="xs:string" name="CustomerName"></xs:element>
              <xs:element type="xs:string" name="ProjectName"></xs:element>
              <xs:element type="xs:string" name="IsKeyProject"></xs:element>
              <xs:element type="xs:string" name="ProjectDomain" minOccurs="0"></xs:element>
              <xs:element type="xs:string" name="ProjectStartDate"></xs:element>
              <xs:element type="xs:string" name="ProjectEndDate"></xs:element>
              <xs:element type="xs:string" name="Role"></xs:element>
              <xs:element type="xs:string" name="IsKeyPosition"></xs:element>
              <xs:element type="xs:byte" name="YearsOfExperience"></xs:element>
              <xs:element type="xs:string" name="MandatorySkills"></xs:element>
              <xs:element type="xs:string" name="ClientCommunication"></xs:element>
              <xs:element type="xs:string" name="RequestStartDate"></xs:element>
              <xs:element type="xs:string" name="AllocationEndDate"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>