resourceallocation/src/main/resources/resources.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resource-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="EmployeeID"></xs:element>
              <xs:element type="xs:string" name="DOJ"></xs:element>
              <xs:element type="xs:string" name="Skills"></xs:element>
              <xs:element type="xs:string" name="DomainExperience" minOccurs="0"></xs:element>
              <xs:element type="xs:string" name="Rating"></xs:element>
              <xs:element type="xs:string" name="CommunicationsRating"></xs:element>
              <xs:element type="xs:string" name="NAGP"></xs:element>
              <xs:element type="xs:byte" name="YearsOfExperience"></xs:element>
              <xs:element type="xs:string" name="CurrentRole" minOccurs="0"></xs:element>
              <xs:element type="xs:string" name="PreviousCustomerExperience" minOccurs="0"></xs:element>
              <xs:element type="xs:string" name="AvailableFromDate"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>